<body>
	<div class="container">
		<button class = "buttonVolver" (click)="volver()">Volver</button>

		<div class="containerForm">
			<div class="registroTitulo">
				<span>CREACIÓN DE MENSAJE</span>
			</div>
			<div class="registro">
				<form (ngSubmit)="onSubmit()" #ngForm="ngForm">
			
                    <div class="inputs">
                        <label for="chk" aria-hidden="true">Texto del Mensaje</label>
                        <input type="text" name="nombre" placeholder="Nombre" required="" #nombre="ngModel" [(ngModel)]="solicitud.nombre">
                    </div>

					<button class = "buttonCreacion">Crear Mensaje</button>
				</form>
			</div>
		</div>
	</div>
</body>