.campañaNombreTexto{
    position: relative;
    left: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.campañaJuegoTexto{
    position: relative;
    
    
    text-align: right;
    padding-right: 10px;
}

.buttonVer{
    position: relative;
   
    margin: 10px 0px;

    left: 10%;

    padding: 10px 30px;
    background-color: white;
}

.buttonEditar{
    position: relative;
    bottom: 15px;
    left: 55%;
    /*left: 80%;*/
    padding: 10px 30px;
    background-color: #ffd700;
}		
.lista{
    background-color: #f4fbff;

    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;

    margin-bottom: 20px;
}