<body>

    <div class="partidasTitulo">
        <span>Campañas de Descent</span>
    </div>

	<div class="container">

		<button class = "buttonVolver" (click)="volver()">Volver al menu</button>
        <button class = "buttonVolver" (click)="crear()">Crear nueva campaña</button>

		<div class="containerForm">


			<!-- MIS CAMPAÑAS -->
			
			<div *ngFor = "let nombre of nombres" class="test">
				<app-perfil-partidas [nombre]="nombre" ></app-perfil-partidas>
			</div>
			

		</div>
	</div>
</body>