<body>



	<div class="containerHeroe">


        
		<button class = "buttonVolver" (click)="volver()">{{"Volver al listado" | translate}}</button>

		<div class="containerForm">
			<div class="datosTitulo">
				<span>{{"Mis datos de la campaña de Descent" | translate}}</span>
			</div>

			<!-- DATOS GENERALES -->
			<div *ngIf="datosGeneralesActiva" class="datosInfoGeneral">

                <div class="centrarBoton3">

                    <button class="buttonHeroeTop" (click)="confirmarEdicion()">{{"Confirmar Edición" | translate}}</button>
                    <button class="buttonHeroeTop" (click)="verHeroes()">{{"Ver Héroes" | translate}}</button>
                </div>

                <div class="backgroundInfoGeneral">

                
                    <div class="inputs" class="inputsCortos">
                        <label for="chk" aria-hidden="true">{{"Nombre de la Campaña" | translate}}</label>
                        <input type="text" name="nombre" required="" #correo="ngModel" readonly="readonly" [(ngModel)]="solicitudGeneral.nombrePartida">
                    </div>

                    <div class="inputs" class="inputsCortos">
                        <label for="chk" aria-hidden="true">{{"Oro de los héroes" | translate}}</label>
                        <input type="text" name="oro" required="" #password="ngModel" readonly="readonly" [(ngModel)]="solicitudGeneral.oro">
                    </div>

                    <div class="inputs" class="inputsCortos">
                        <label for="chk" aria-hidden="true">{{"Misión Actual" | translate}}</label>
                        
                            <!--
                                <input type="text" name="mision" required=""  readonly="readonly" value={{actual}}>
                            -->
                        
                        <select name="mision" [(ngModel)]="solicitudGeneral.misionActual">
                            <option *ngFor="let mision of solicitudListaMisiones" [ngValue]="mision">
                                {{mision}}
                            </option>
                        </select>

                    </div>

                    <div class="inputs" class="overlord">

                        <label for="chk" aria-hidden="true">{{"Cartas Overlord" | translate}}</label>
                        
                            <div >
                                <button class = "buttonAdd" (click)="addCarta()">{{"Comprar" | translate}}</button>
                            </div>
                            <!--
                            <input type="text" name="overlord" required="" #nombre="ngModel" readonly="readonly" [(ngModel)]="solicitudGeneral.arrayCartasOverlord">
                            -->
                            <div class="scrollOverlord">
                                <select class="selectOverlord" name="cartaIndividual" [(ngModel)]="cartaAdd">
                                    <option *ngFor="let cartaIndividual of solicitudListaCartasOverlord" [ngValue]="cartaIndividual">
                                        {{cartaIndividual}}
                                    </option>
                                </select>

                                <div class="cartasOverlordListado" *ngFor="let carta of solicitudGeneral.arrayCartasOverlord">
                                    <div *ngIf=carta>
                                        <input type="text" name="overlord" required="" value="{{carta}}" readonly="readonly" >
                                        <button class="buttonOverlord" (click)="quitarCarta(solicitudGeneral.arrayCartasOverlord.indexOf(carta))">{{"Borrar" | translate}}</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

			</div>

            







            <!-- DATOS DE HEROES -->
			<div *ngIf="datosHeroeActiva"  class="datosInfoHeroes">

                <div class="centrarBoton3">
                    <button class="buttonHeroeTop" (click)="crearHeroe()">{{"Crear Heroe" | translate}}</button>
                    <button class="buttonHeroeTop" (click)="confirmarEditHeroes()">{{"Confirmar Edicion Heroes" | translate}}</button>
                    <button class="buttonHeroeTop" (click)="volverADatosGenerales()">{{"Volver atrás" | translate}}</button>
                </div>


                <div *ngFor="let heroe of solicitudHeroes; let i = index">
                    <div class="heroeContainer" *ngIf="heroe">

                        <button class="buttonDeleteHeroe" (click)="borrarHeroe(i)">{{"Borrar Heroe" | translate}}</button>

                        <div  class="inputsCortosHeroe">
                            <label for="chk" aria-hidden="true">{{"Héroe" | translate}}</label>
                            <select class="selectHeroe" name="heroeIndividual" [(ngModel)]="solicitudHeroes[i].nombreHeroe">
                                <option *ngFor="let heroeIndividual of solicitudListaHeroes" [ngValue]="heroeIndividual">
                                    {{heroeIndividual}}
                                </option>
                            </select>
                        </div>
        

    
    
    
    
                        <!--ITEMS-->
                        <div class="heroelist">
    
                            <label for="chk" aria-hidden="true">{{"Equipamiento" | translate}}</label>
        
                            <div >
                                <button class = "buttonAdd" (click)="addItem(i)">{{"Comprar" | translate}}</button>
                            </div>
                            <!--
                            <input type="text" name="overlord" required="" #nombre="ngModel" readonly="readonly" [(ngModel)]="solicitudGeneral.arrayCartasOverlord">
                            -->
                            <div class="scrollHeroe">
                                <select class="selectHeroe" name="equipoIndividual" [(ngModel)]="itemAdd">
                                    <option *ngFor="let equipoIndividual of solicitudListaEquipamiento" [ngValue]="equipoIndividual">
                                        {{equipoIndividual}}
                                    </option>
                                </select>
            
                                <div class="heroeListado" *ngFor="let item of solicitudHeroes[i].equipamientoHeroe">
                                    <div *ngIf=item>
                                        <input type="text" name="itemHeroe" required="" value="{{item}}" readonly="readonly" >
                                        <button class="buttonHeroe" (click)="quitarItem(solicitudHeroes[i].equipamientoHeroe.indexOf(item), i)">{{"Borrar" | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
    
                        <!--HABILIDADES-->
                        <div class="heroelist">
    
                            <label for="chk" aria-hidden="true">{{"Habilidades" | translate}}</label>
        
                            <div >
                                <button class = "buttonAdd" (click)="addHabilidad(i)">{{"Comprar" | translate}}</button>
                            </div>
                            <!--
                            <input type="text" name="overlord" required="" #nombre="ngModel" readonly="readonly" [(ngModel)]="solicitudGeneral.arrayCartasOverlord">
                            -->
                            <div class="scrollHeroe">
                                <select class="selectHeroe" name="habilidadIndividual" [(ngModel)]="habilidadAdd">
                                    <option *ngFor="let habilidadIndividual of solicitudListaHabilidades" [ngValue]="habilidadIndividual">
                                        {{habilidadIndividual}}
                                    </option>
                                </select>
            
                                <div class="heroeListado" *ngFor="let habilidad of solicitudHeroes[i].habilidadesHeroe">
                                    <div *ngIf=habilidad>
                                        <input type="text" name="habilidadHeroe" required="" value="{{habilidad}}" readonly="readonly" >
                                        <button class="buttonHeroe" (click)="quitarHabilidad(solicitudHeroes[i].habilidadesHeroe.indexOf(habilidad), i)">{{"Borrar" | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
     


			</div>


		</div>
	</div>
</body>
