<body>
	<div class="container">
		<button class = "buttonVolver">Volver</button>

		<div class="containerForm">
			<div class="registroTitulo">
				<span>CREACIÓN DE PARTIDA</span>
			</div>
			<div class="registro">
				<form (ngSubmit)="onSubmit()" #ngForm="ngForm">
			
                <div class="inputs">
					<label for="chk" aria-hidden="true">Nombre de campaña</label>
					<input type="text" name="nombre" placeholder="Nombre" required="" #nombre="ngModel" [(ngModel)]="solicitud.nombre">
				</div>

					<button class = "buttonCreacion">Crear Campaña</button>
				</form>
			</div>
		</div>
	</div>
</body>