<ul *ngIf="sinSesion">
    <li class="navegador"><a class="partidaActiva" (click)="irPartida()" routerLink="">{{"Campañas" | translate}}</a></li>
    <li class="navegador"><a class="foroActiva "(click)="irForo()" routerLink="">{{"Foros" | translate}}</a></li>
    
    
    <li class="navegador moverImagen"><img  src="../../../assets/imagenes/LogoMenu.png"/></li>

    
    <li class="navegador pegarDerecha"><a (click)="borrarColores()" routerLink="login">{{"Iniciar Sesión" | translate}}</a></li>
    <li class="navegador"><a class="crearUsuario" (click)="borrarColores()" routerLink="usuario-registro/usuario">{{"Crear Usuario" | translate}}</a></li>
    <li class="navegador"><a (click)="cambiarIdioma()">{{"Idioma" | translate}}</a></li>
</ul>


<ul *ngIf="conSesionUsuario">
    <li class="navegador"><a class="partidaActiva" (click)="irPartida()" routerLink="">{{"Campañas" | translate}}</a></li>
    <li class="navegador"><a class="foroActiva"(click)="irForo()" routerLink="">{{"Foros" | translate}}</a></li>
    
    <li class="navegador moverImagen"><img src="../../../assets/imagenes/LogoMenu.png"/></li>

    
        <li class="navegador pegarDerecha2"><a (click)="borrarColores()" routerLink="usuario-perfil/usuario/ver">{{"Perfil" | translate}}</a></li>
        <li class="navegador"><a (click)="cambiarIdioma()">{{"Idioma" | translate}}</a></li>
</ul>

<ul *ngIf="admin">

    <!--
    <li ><a class="partidaActiva" (click)="irPartida()" routerLink=""  href="#campaña">Campaña</a></li>
    <li ><a class="foroActiva"(click)="irForo()" routerLink=""  href="#foros">Foros</a></li>
    
    <li class=" moverImagen"><img src="../../../assets/imagenes/LogoMenu.png"/></li>

        <li ><a class="pegarDerecha crearUsuario" (click)="borrarColores()" routerLink="usuario-registro/administrador">Crear Admin</a></li>
        <li class=""><a (click)="borrarColores()" routerLink="usuario-perfil/usuario/ver">Perfil</a></li>
        <li ><a href="#idioma">Idioma</a></li>
        -->

        <li class="navegador"><a class="partidaActiva" (click)="irPartida()" routerLink="">{{"Campañas" | translate}}</a></li>
        <li class="navegador"><a class="foroActiva "(click)="irForo()" routerLink="">{{"Foros" | translate}}</a></li>
        
        
        <li class="navegador moverImagen"><img  src="../../../assets/imagenes/LogoMenu.png"/></li>
    
        
        <li class="navegador pegarDerecha"><a (click)="borrarColores()" routerLink="usuario-registro/administrador">{{"Crear Admin" | translate}}</a></li>
        <li class="navegador"><a class="crearUsuario" (click)="borrarColores()" routerLink="usuario-perfil/usuario/ver">{{"Perfil" | translate}}</a></li>
        <li class="navegador"><a (click)="cambiarIdioma()">{{"Idioma" | translate}}</a></li>
</ul>
