<ul>
    <li><a routerLink="/menuhome" routerLinkActive="active" href="#campaña">Campaña</a></li>
    <li><a routerLink="/menuforo" routerLinkActive="active" href="#foros">Foros</a></li>
    <li><a routerLink="/about" routerLinkActive="active" href="#sobreNosotros">Sobre Nosotros</a></li>
    
    <li><img src="../../../assets/imagenes/LogoMenu.png"/></li><li><a class="derecha" href="#iniciarSesion">Iniciar Sesión</a></li>

    <li><a href="#iniciarSesion">Iniciar Sesión</a></li>
    <li><a class="crearUsuario" href="#crearUsuario">Crear Usuario</a></li>
    <li><a href="#idioma">Idioma</a></li>
</ul>

<!--
<li><img src="../../../assets/imagenes/Perfil.png"/></li>
-->
