<body>
	<div class="container">
		<button (click)="volver()" class = "buttonVolver">Volver</button>

		<div class="containerForm">
			<div class="loginTitulo">
				<span>INICIAR SESIÓN</span>
			</div>
			<div class="login">
				<form (ngSubmit)="onSubmit()" #ngForm="ngForm">
					

				<div class="inputs">
					<label for="chk" aria-hidden="true">Correo</label>
					<input  type="email" name="email" placeholder="Email" required="" #correo="ngModel" [(ngModel)]="solicitud.email">
				</div>

				<div class="inputs">
					<label for="chk" aria-hidden="true">Contraseña</label>
					<input type="password" name="pswd" placeholder="Password" required="" #password="ngModel" [(ngModel)]="solicitud.password">
				</div>

					<button class = "buttonLogin">Login</button>
				</form>
			</div>
		</div>
	</div>
</body>