<div *ngIf="menuSinSesion" class="contenedor">

    <figure>
        <img src="../../../assets/imagenes/{{juego.nombreJuegoImagen}}.jpg"/>
    </figure>

    
    <p class="tituloNombreJuego">{{juego.nombreJuegoTitulo}}</p>

    <div class="botones">
        <button class="botonEntrar" (click)="irAForos(juego.nombreJuegoImagen)">Entrar al foro</button>
    </div>
</div>

<div *ngIf="menuConSesion" class="contenedor">

    <figure>
        <img src="../../../assets/imagenes/{{juego.nombreJuegoImagen}}.jpg"/>
    </figure>

    
    <p class="tituloNombreJuego">{{juego.nombreJuegoTitulo}}</p>

    <div class="botones">
        <button class="botonEntrar" (click)="irAForos(juego.nombreJuegoImagen)">Entrar al foro</button>
        <button class="botonEntrar" (click)="irAMisForos(juego.nombreJuegoImagen)">Mis Discusiones</button>
    </div>
</div>

<div *ngIf="menuAdmin" class="contenedor">

    <figure>
        <img src="../../../assets/imagenes/{{juego.nombreJuegoImagen}}.jpg"/>
    </figure>

    <p class="tituloNombreJuego">{{juego.nombreJuegoTitulo}}</p>

    <div class="botones">
        <button class="botonEntrar" (click)="irAForos(juego.nombreJuegoImagen)">Entrar al foro</button>
        <button class="botonEntrar" (click)="irAForos(juego.nombreJuegoImagen)">Mis Discusiones</button>
    </div>

</div>