.contenedor{
    width: 100%;
    height: 100%;
    background-color: #f4fafd;

    padding-top: 10px;

}


img{
    display: block;
    
    max-width: 20%;
    max-height: 20%;
    
    margin-left: auto;
    margin-right: auto;

    
    
}


.tituloNombreJuego{
    position: relative;

    text-align: center;
   
}

.botonEntrar{
    position: relative;

    padding: 10px;

    left: 50%;
    transform: translate(-50%,0%);
    
    margin-bottom: 10px;
}

