<button *ngIf="soyAdmin" (click)="borrarDiscusion(discusion[0],discusion[3])" class="buttonBorrar">{{"Borrar" | translate}}</button>
    
<div class="lista">
    <div class="nombreUsuarioMensaje">
        <label for="chk" aria-hidden="true">{{discusion[1]}}</label>
    </div>

    <div class="discusionTexto">
        <label for="chk" aria-hidden="true">{{discusion[2]}}</label>
    </div>
        
    <button (click)="discusionIrChat(discusion[0], discusion[1], discusion[3])" class="buttonVer">{{"Ver" | translate}}</button>
</div>
