<div *ngIf="menuSinSesion" class="contenedor">

    <figure>
        <img src="../../../assets/imagenes/{{juego.nombreJuegoImagen}}.jpg"/>
    </figure>

    <p class="tituloNombreJuego">{{juego.nombreJuegoTitulo}}</p>

    <div class="botones">
        <button class="botonCrear" (click)="crearPartida(juego.nombreJuegoImagen)">{{"Crear Campaña" | translate}}</button>
    </div>
</div>

<div *ngIf="menuConSesion" class="contenedor">

    <figure>
        <img src="../../../assets/imagenes/{{juego.nombreJuegoImagen}}.jpg"/>
    </figure>
    
    <p class="tituloNombreJuego">{{juego.nombreJuegoTitulo}}</p>

    <div class="botones">
        <button class="botonCrear" (click)="crearPartida(juego.nombreJuegoImagen)">{{"Crear Campaña" | translate}}</button>
        <button class="botonCrear" (click)="irAPartidas(juego.nombreJuegoImagen)">{{"Mis Campañas" | translate}}</button>
    </div>
</div>

<div *ngIf="menuAdmin" class="contenedor">

    <figure>
        <img src="../../../assets/imagenes/{{juego.nombreJuegoImagen}}.jpg"/>
    </figure>
    
    <p class="tituloNombreJuego">{{juego.nombreJuegoTitulo}}</p>
    <div class="botones">
        <button class="botonCrear" (click)="crearPartida(juego.nombreJuegoImagen)">{{"Ver partidas" | translate}}</button>
        <button class="botonCrear" (click)="irAPartidas(juego.nombreJuegoImagen)">{{"Mis Campañas" | translate}}</button>
    </div>
</div>