<body>
	<div class="container">
		<button (click)="volver()" class = "buttonVolver">{{"Volver" | translate}}</button>

		<div class="containerForm">
			<div class="registroTitulo">
				<span>{{"CREACIÓN DE USUARIO" | translate}}</span>
			</div>
			<div class="registro">
				<form (ngSubmit)="onSubmit()" #ngForm="ngForm">
					

				<div class="inputs">
					<label for="chk" aria-hidden="true">{{"Correo" | translate}}</label>
					<input type="email" name="email" placeholder="Email" required="" #correo="ngModel" [(ngModel)]="solicitud.correo_usuario">
				</div>

				<div class="inputs">
					<label for="chk" aria-hidden="true">{{"Contraseña" | translate}}</label>
					<input type="password" name="pswd" placeholder="Password" required="" #password="ngModel" [(ngModel)]="solicitud.contrasenha_usuario">
				</div>

                <div class="inputs">
					<label for="chk" aria-hidden="true">{{"Nombre de usuario" | translate}}</label>
					<input type="text" name="nombre" placeholder="Nombre" required="" #nombre="ngModel" [(ngModel)]="solicitud.nombre_usuario">
				</div>

					<button class = "buttonRegistro">{{"Registro" | translate}}</button>
				</form>
			</div>
		</div>
	</div>
</body>